.fonte-principal {
    font-weight: bold;
    font-size: 60px;
}

.fonte-secundaria {
    font-size: 35px;
}

.ctx {
    text-align: center;
}

.table-responsive{
    background-color: rgb(42, 135, 234);    
}

