{% extends "base.html" %}
{% load static %}

<!--
{% block 'cabecalho' %}
{% endblock %}
--> 

{% block 'conteudo' %}

{% include "./patials/header.html" %}

 <div class="container ctx">
    <br>
    <br>
    <h2 class="fonte-principal">Iniciar desafio</h2>
    <h3 class="fonte-secundaria">Escolha as categorias e a dificuldade do desafio</h3>
    <br>
 <div class="row">

    <div class="col-md">
        <form action="{% url 'iniciar_desafio' %}" method="POST">{% csrf_token%}
            <label for="">Titulo</label>
            <input type="text" class="form-control" name="titulo">
    </div>
    <div class="col-md">
        <label>Categoria</label>
            <select name="categoria" class="form-select" >
                <option value="">Todas as categorias</option>
                {% for categoria in categorias %}
                    <option value="{{categoria.id}}">
                        {{categoria.nome}}
                    </option>
                {% endfor %}
            </select>
            </div>
        <div class="col-md">
            <label>Dificuldade</label>
                <select name="dificuldade" class="form-select">
                    {% for dificuldade in dificuldades %}
                        <option value="{{dificuldade.0}}">
                            {{dificuldade.1}}
                        </option>
                    {% endfor %}
                </select>
        </div>
        <div class="col-md">
            <label>Qtd questões</label>
            <input type="number" class="form-control" name="qtd_perguntas">
        </div>

        </div>
        <br>
        <br>
        <input type="submit" class="btn-cadastro" value="Iniciar desafio">
    </form>
<br>
<br>
<div class="table-responsive">
    <table class="table">
        <thead >
            <tr>
                <th scope="col">Categoria</th>                        
                <th scope="col">Dificuldade</th>
                <th scope="col">Qtd Perguntas</th>
            </tr>
        </thead>  
        <tbody >
        {% for desafio in desafios %}
        <tr class="linha">
            <td>{{ desafio.categoria.all|join:", " }}</td>            
            <td>{{ desafio.dificuldade }}</td>
            <td>{{ desafio.quantidade_perguntas }}</td>            
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>

{% endblock 'conteudo' %}
