{% extends "base.html" %} 


{% block title %}
Logged out
{% endblock %} 

{% block content %} 
    <div class="bg1">
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <div class="box-titulo">
                        <h1>Logged out</h1> 
                        <h3> Você efetuou o logout com sucesso. </h3>
                        <a href="{% url 'login' %}"><h4>log-in novamente</h4></a>.
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

